/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
/******* BUTTONS ***********/
.btn-primary {
  background-color: #2672de;
  border-color: #2672de;
}
.btn-primary:hover {
  background-color: #1c5bb5;
}
.btn-outline-primary {
  border-color: #2672de;
  background-color: white;
  color: #2672de;
}
.btn-outline-primary:hover {
  background-color: #1c5bb5;
}
.btn-info {
  background-color: #3a7d95;
  border-color: #3a7d95;
}
.btn-info:hover {
  background-color: #2c5e70;
}
.btn-outline-info {
  border-color: #3a7d95;
  background-color: white;
  color: #3a7d95;
}
.btn-outline-info:hover {
  background-color: #2c5e70;
}
.btn-success {
  background-color: #208738;
  border-color: #208738;
}
.btn-success:hover {
  background-color: #165e27;
}
.btn-outline-success {
  border-color: #208738;
  background-color: white;
  color: #208738;
}
.btn-outline-success:hover {
  background-color: #165e27;
}
.btn-warning {
  background-color: #fee685;
  border-color: #fee685;
}
.btn-warning:hover {
  background-color: #fedc52;
}
.btn-outline-warning {
  border-color: #836901;
  background-color: white;
  color: #836901;
}
.btn-outline-warning:hover {
  background-color: #fedc52;
}
.btn-outline-light {
  border-color: #616161;
  background-color: white;
  color: #616161;
}
.btn-outline-light:hover {
  background-color: #adadad;
}
.btn-danger {
  background-color: #cd425b;
  border-color: #cd425b;
}
.btn-danger:hover {
  background-color: #ae2e45;
}
.btn-outline-danger {
  border-color: #cd425b;
  background-color: white;
  color: #cd425b;
}
.btn-outline-danger:hover {
  background-color: #ae2e45;
}
.btn-link {
  color: #345d96;
}
/*Badges and badge pills*/
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #2672de;
}
.badge-info {
  background-color: #3a7d95;
}
.badge-success {
  background-color: #208738;
}
.badge-warning {
  background-color: #fee685;
}
.badge-danger {
  background-color: #cd425b;
}
.badge-accent-cool {
  background-color: #86b98e;
  color: black;
}
.badge-accent-warm {
  background-color: #ffca56;
  color: black;
}
.badge-secondary-warm {
  background-color: #b0aaa6;
  color: black;
}
/*Alerts*/
.alert {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 3px 5px 0 rgba(62, 57, 107, 0.07), 0 2px 4px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 3px 5px 0 rgba(62, 57, 107, 0.07), 0 2px 4px 0 rgba(62, 57, 107, 0.06);
}
.alert.alert-primary {
  color: #154589;
  border-left: 10px solid #1c5bb5;
  background-color: #e4eefb;
}
.alert.alert-primary .alert-link {
  color: #0e2f5d;
}
.alert.alert-primary .alert-link:before {
  background-color: #0e2f5d;
}
.alert.alert-primary .alert-link:focus {
  outline: 2px dashed #0e2f5d;
}
.alert.alert-secondary {
  border-left: 10px solid #545b62;
}
.alert.alert-secondary .alert-link {
  color: #25282b;
}
.alert.alert-secondary .alert-link:before {
  background-color: #25282b;
}
.alert.alert-secondary .alert-link:focus {
  outline: 2px dashed #25282b;
}
.alert.alert-success {
  color: #0c3516;
  border-left: 10px solid #165e27;
  background-color: #d9f6e0;
}
.alert.alert-success .alert-link {
  color: #030b05;
}
.alert.alert-success .alert-link:before {
  background-color: #030b05;
}
.alert.alert-success .alert-link:focus {
  outline: 2px dashed #030b05;
}
.alert.alert-danger {
  color: #862335;
  border-left: 10px solid #ae2e45;
  background-color: #f8e3e7;
}
.alert.alert-danger .alert-link {
  color: #5d1925;
}
.alert.alert-danger .alert-link:before {
  background-color: #5d1925;
}
.alert.alert-danger .alert-link:focus {
  outline: 2px dashed #5d1925;
}
.alert.alert-warning {
  color: #836901;
  border-left: 10px solid #b69201;
  background-color: #fff6d1;
}
.alert.alert-warning .alert-link {
  color: #504101;
}
.alert.alert-warning .alert-link:before {
  background-color: #504101;
}
.alert.alert-warning .alert-link:focus {
  outline: 2px dashed #504101;
}
.alert.alert-info {
  color: #1d3f4c;
  border-left: 10px solid #1d3f4c;
  background-color: #d1e6ed;
}
.alert.alert-info .alert-link {
  color: #1d3f4c;
}
.alert.alert-info .alert-link:before {
  background-color: #1d3f4c;
}
.alert.alert-info .alert-link:focus {
  outline: 2px dashed #1d3f4c;
}
.alert.alert-light {
  color: #545b62;
  border-left: 10px solid #677078;
}
.alert.alert-light .alert-link {
  color: #677078;
}
.alert.alert-light .alert-link:before {
  background-color: #677078;
}
.alert.alert-light .alert-link:focus {
  outline: 2px dashed #677078;
}
.alert.alert-dark {
  color: white;
  border-left: 10px solid #96a0aa;
  background-color: #626d78;
}
.alert.alert-dark .alert-link {
  color: white;
}
.alert.alert-dark .alert-link:before {
  background-color: white;
}
.alert.alert-dark .alert-link:focus {
  outline: 2px dashed white;
}
/******Breadcrumbs*******/
.breadcrumb {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0 0 0.75rem 0rem;
}
.breadcrumb .breadcrumb-item.active {
  color: #565c65;
}
.breadcrumb .breadcrumb-item a {
  font-weight: normal;
}
/******Navs*******/
.navbar-shadow {
  box-shadow: 2px 4px 10px -4px rgba(0, 0, 0, 0.2);
}
/**********NVLeg menu**************/
header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
header .nelis-header .navbar-wrapper {
  width: 100%;
}
header .nelis-header .navbar-header {
  float: left;
  position: absolute;
  height: 100%;
  width: 240px;
  height: 3rem;
  left: 50%;
  top: 0;
  padding: 0rem 1rem;
  margin: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  transition: 300ms ease all;
}
@media (max-width: 767.98px) {
  header .nelis-header .navbar-header {
    width: 100% !important;
    padding: 0.5rem 1rem;
    position: relative;
  }
  header .nelis-header .navbar-header .navbar-brand {
    position: absolute;
    left: 55%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
header .nelis-header .navbar-header .nelis-header-logo {
  font-size: 2rem;
  font-family: berlin-sans;
  text-decoration: none !important;
  border-bottom: none !important;
  font-weight: normal !important;
}
header .nelis-header .navbar-header .dev-environment {
  float: left;
  position: absolute;
  top: 0;
  display: inline-flex;
  left: 65%;
}
header .nelis-header .navbar-header .dev-environment .badge {
  margin-right: 4px;
}
@media (max-width: 767.98px) {
  header .nelis-header .navbar-header .dev-environment {
    left: unset;
  }
}
header .nelis-header .navbar-container {
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  transition: 300ms ease all;
}
@media (max-width: 767.98px) {
  header .nelis-header .navbar-container {
    width: 100%;
    display: table;
    padding: 0rem 1rem;
    margin: 0;
    height: auto;
  }
}
header .nelis-header .navbar-container #navbar-mobile {
  width: 100%;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown {
  z-index: 1040;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: visibility 0s, opacity 0.3s linear;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu a {
  color: #71767a;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu.nvleg {
  width: 90vw;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu .nav.flex-column .nav-link {
  padding: 0.4rem 0.4rem;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu .nav.flex-column .nav-link:before {
  height: 0px;
  bottom: -1px;
  background-color: transparent;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu .nav.flex-column a.nav-link:hover {
  text-decoration: underline;
  color: #345d96;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menudiv[class*="col"] {
  margin-bottom: 1rem;
}
header .nelis-header .navbar-container #navbar-mobile .nav-item.dropdown .dropdown-menu .row {
  width: 100%;
}
@media (max-width: 991.98px) {
  header .nelis-header .navbar-container #navbar-mobile.navbar-collapse.navbar-nav.dropdown-menu {
    position: absolute;
  }
}
header .header-divider {
  border-top: 1px solid #fcfcfc;
}
header .header-divider .dropdown .dropdown-toggle {
  font-weight: normal;
}
header .header-divider .dropdown .dropdown-menu {
  z-index: 1040;
  border-radius: 0;
}
header .header-divider .dropdown .dropdown-menu a.dropdown-item {
  color: #71767a;
}
header .header-divider .days-remaining {
  font-size: smaller;
  font-weight: normal;
}
/***********NELIS menu items*************/
.navbar {
  font-family: 'Roboto', sans-serif;
}
.navbar.navbar-dark .navbar-nav .nav-link {
  color: #fcfcfc;
}
.navbar.navbar-dark .navbar-toggler {
  border-color: transparent;
  color: #fcfcfc;
}
.navbar.nelis-menu {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar.nelis-menu .nav-overlay {
  visibility: hidden;
  transition: visibility 0s 0.2s;
}
.navbar.nelis-menu .nav-overlay.collapse {
  transition: none !important;
}
.navbar.nelis-menu .nav-overlay.collapsing {
  height: 0 !important;
}
.navbar.nelis-menu .nav-overlay.show {
  visibility: visible;
  transition: visibility 0s 0s;
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 64px;
  left: 0;
  overflow-y: scroll;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s 0.3s;
  z-index: 2500;
  opacity: 1;
  background-color: #fbfcfd;
}
.navbar.nelis-menu.navbar-light ul li.active > a {
  border-bottom: 3px solid #86b98e;
  background: #e0dedc;
}
@media (max-width: 767px) {
  .navbar.nelis-menu.navbar-light ul li.active > a {
    border-bottom: none;
    border-left: 3px solid #86b98e;
  }
}
.navbar.nelis-menu.navbar-without-dd-arrow .dropdown-toggle::after {
  display: none;
}
.navbar.nelis-menu.shrink {
  height: 48px;
  font-size: 0.9em;
  transition: all 0.2s ease;
}
.navbar.nelis-menu.shrink #nelisMain.navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 0.75rem 0.6rem;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item.dropdown {
  position: static;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #4c5052;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 1rem 0.6rem;
  color: #71767a;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .nav-link:before {
  height: 3px;
  bottom: -3px;
  background-color: #86b98e;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: visibility 0s, opacity 0.3s linear;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav.flex-column .nav-link {
  padding: 0.4rem 0.4rem;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav.flex-column .nav-link:before {
  height: 0px;
  bottom: -1px;
  background-color: transparent;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav.flex-column a.nav-link:hover {
  text-decoration: underline;
  color: #345d96;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menu .row {
  width: 100%;
}
.navbar.nelis-menu #nelisMain.navbar-collapse .navbar-nav .nav-item .dropdown-menudiv[class*="col"] {
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #nelisMenu {
    font-size: smaller;
  }
}
/********Footer**********/
.footer {
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 992px) {
  .footer .row [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
}
.footer address {
  line-height: 2.5;
  color: white;
  font-weight: 700;
}
@media (min-width: 992px) {
  .footer .list-unstyled {
    padding-left: 2rem;
  }
}
.footer .list-unstyled li {
  padding-top: 1rem;
}
.card {
  margin-bottom: 1.875rem;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.card .card-header {
  background-color: white;
  border-bottom: none;
  border-radius: 0;
}
.card .card-footer {
  background-color: white;
  border-radius: 0;
  border-top: none;
}
.card .card-footer-border-top {
  border-top: 1px solid #e6e6e6;
}
.square {
  border-radius: 0;
}
.border-main {
  border: 2px solid #30415b;
}
.border-main-lighten-10 {
  border: 2px solid #42597c;
}
.border-secondary-warm {
  border: 2px solid #b0aaa6;
}
.border-accent-warm {
  border: 2px solid #ffca56;
}
.border-accent-cool {
  border: 2px solid #86b98e;
}
.border-top-main {
  border-top: 2px solid #30415b;
}
.border-top-main-lighten-10 {
  border-top: 2px solid #42597c;
}
.border-top-secondary-warm {
  border-top: 2px solid #b0aaa6;
}
.border-top-accent-warm {
  border-top: 2px solid #ffca56;
}
.border-top-accent-cool {
  border-top: 2px solid #86b98e;
}
.border-bottom-main {
  border-bottom: 2px solid #30415b;
}
.border-bottom-main-lighten-10 {
  border-bottom: 2px solid #42597c;
}
.border-bottom-secondary-warm {
  border-bottom: 2px solid #b0aaa6;
}
.border-bottom-accent-warm {
  border-bottom: 2px solid #ffca56;
}
.border-bottom-accent-cool {
  border-bottom: 2px solid #86b98e;
}
.border-right-main {
  border-right: 2px solid #30415b;
}
.border-right-main-lighten-10 {
  border-right: 2px solid #42597c;
}
.border-right-secondary-warm {
  border-right: 2px solid #b0aaa6;
}
.border-right-accent-warm {
  border-right: 2px solid #ffca56;
}
.border-right-accent-cool {
  border-right: 2px solid #86b98e;
}
.border-left-main {
  border-left: 2px solid #30415b;
}
.border-left-main-lighten-10 {
  border-left: 2px solid #42597c;
}
.border-left-secondary-warm {
  border-left: 2px solid #b0aaa6;
}
.border-left-accent-warm {
  border-left: 2px solid #ffca56;
}
.border-left-accent-cool {
  border-left: 2px solid #86b98e;
}
.bg-main {
  background-color: #30415b;
  color: #fcfcfc;
}
.bg-main a {
  color: #fcfcfc;
  position: relative;
  text-decoration: none;
}
.bg-main a:hover {
  text-decoration: none;
}
.bg-main a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #fcfcfc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.bg-main a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.bg-main a:focus {
  outline: 2px dashed #fcfcfc;
}
.bg-complement {
  background-color: #fbfcfd;
}
.bg-main-lighten-10 {
  background-color: #42597c !important;
  color: white;
}
.bg-main-lighten-20 {
  background-color: #53719e !important;
  color: white;
}
.bg-main-lighten-30 {
  background-color: #708bb4 !important;
  color: black;
}
.bg-main-lighten-40 {
  background-color: #92a6c5 !important;
  color: black;
}
.bg-main-lighten-50 {
  background-color: #b3c1d7 !important;
  color: black;
}
.bg-accent-cool {
  background-color: #86b98e !important;
  color: black;
}
.bg-accent-cool-lighten-10 {
  background-color: #a6ccac !important;
  color: black;
}
.bg-accent-cool-lighten-20 {
  background-color: #c7deca !important;
  color: black;
}
.bg-accent-warm {
  background-color: #ffca56 !important;
  color: black;
}
.bg-accent-warm-lighten-10 {
  background-color: #ffda89 !important;
  color: black;
}
.bg-accent-warm-lighten-20 {
  background-color: #ffeabc !important;
  color: black;
}
.bg-secondary-warm {
  background-color: #b0aaa6 !important;
  color: black;
}
.bg-secondary-warm-lighten-10 {
  background-color: #c8c4c1 !important;
  color: black;
}
.bg-secondary-warm-lighten-20 {
  background-color: #e0dedc !important;
  color: black;
}
.modal-content {
  border-radius: 0;
}
@media (max-width: 767px) {
  .modal.modal-fullscreen,
  .bootstrap-fs-modal .modal {
    box-shadow: 0px 0px 0px 100px white;
  }
  .modal.modal-fullscreen .modal-dialog,
  .bootstrap-fs-modal .modal .modal-dialog {
    margin: 0;
    height: 100%;
    max-width: 100%;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content {
    border-style: none;
    border-radius: 0;
    height: 100%;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-header,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-header {
    justify-content: flex-start;
    min-height: 50px;
    line-height: 50px;
    padding: 0;
    background-color: #fbfcfd;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-header .modal-title,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-header .modal-title {
    white-space: nowrap;
    line-height: 50px;
    font-size: 1.1rem;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-header .close,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-header .close {
    float: none;
    order: -1;
    margin: 0;
    padding: 0;
    margin-right: 12px;
    height: 50px;
    color: transparent;
    text-shadow: none;
    opacity: 1;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-header .close:before,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-header .close:before {
    border-style: solid;
    border-color: #345d96;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    left: 0.55em;
    position: relative;
    top: 0.28em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.5em;
    transform: rotate(-135deg);
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-footer,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-footer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 10px 0 0;
    height: 50px;
    min-height: 50px;
    line-height: 50px;
    background-color: #fbfcfd;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-footer .material-icons,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-footer .material-icons {
    vertical-align: middle;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-footer .fa,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-footer .fa {
    vertical-align: middle;
    font-size: 1.25em;
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-body,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-body {
    flex-shrink: 3;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .modal.modal-fullscreen-bottom-footer .modal-dialog .modal-content .modal-footer,
  .modal-fullscreen-bottom-footer .modal .modal-dialog .modal-content .modal-footer {
    position: inherit;
    top: inherit;
    right: inherit;
    padding: 15px;
    margin: 0;
  }
  .modal.modal-fullscreen-bottom-footer .modal-dialog .modal-content .modal-footer .btn,
  .modal-fullscreen-bottom-footer .modal .modal-dialog .modal-content .modal-footer .btn {
    margin: 0 0 0 18px;
  }
}
@media (min-width: 768px) {
  .modal.modal-fullscreen .modal-dialog .modal-content,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content {
    max-height: calc(100vh - 60px);
  }
  .modal.modal-fullscreen .modal-dialog .modal-content .modal-body,
  .bootstrap-fs-modal .modal .modal-dialog .modal-content .modal-body {
    flex-shrink: 3;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 767px) {
  main {
    margin-top: 89px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #3d4551;
}
a {
  color: #345d96;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #345d96;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a:focus {
  outline: 2px dashed #345d96;
}
@media (min-width: 992px) {
  .main-content {
    border-left: 1px solid #e0dedc;
  }
}
