/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYag.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #3d4551;
}
a {
  color: #345d96;
  font-weight: bold;
}
a:focus,
a:hover {
  outline: 2px dashed #345d96;
}
.main-bg {
  background-color: #30415b;
  color: #fcfcfc;
}
.main-bg a {
  color: #fcfcfc;
}
.main-bg a:focus,
.main-bg a:hover {
  outline: 2px dashed #fcfcfc;
}
.light-bg {
  background-color: #fbfcfd;
}
.navbar-shadow {
  box-shadow: 2px 4px 10px -4px rgba(0, 0, 0, 0.2);
}
/*Breadcrumbs*/
.breadcrumb {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0 0 0.75rem 0rem;
}
.breadcrumb .breadcrumb-item.active {
  color: #565c65;
}
.breadcrumb .breadcrumb-item a {
  font-weight: normal;
}
/*CARDS*/
.card {
  margin-bottom: 1.875rem;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.card-border-top.accent-warm {
  border-top: 2px solid #ffca56;
}
.card-border-top.accent-cool {
  border-top: 2px solid #86b98e;
}
.card-border-bottom.accent-warm {
  border-bottom: 2px solid #ffca56;
}
.card-border-bottom.accent-cool {
  border-bottom: 2px solid #86b98e;
}
.card-border-right.accent-warm {
  border-right: 2px solid #ffca56;
}
.card-border-right.accent-cool {
  border-right: 2px solid #86b98e;
}
.card-border-left.accent-warm {
  border-left: 2px solid #ffca56;
}
.card-border-left.accent-cool {
  border-left: 2px solid #86b98e;
}
.card .card-header {
  background-color: white;
  border-bottom: none;
  border-radius: 0;
}
.card .card-footer {
  background-color: white;
  border-radius: 0;
  border-top: none;
}
.card .card-footer-border-top {
  border-top: 1px solid #e6e6e6;
}
/******* BUTTONS ***********/
.btn-primary {
  background-color: #2672de;
  border-color: #2672de;
}
.btn-primary:hover {
  background-color: #1c5bb5;
}
.btn-outline-primary {
  border-color: #2672de;
  background-color: white;
  color: #2672de;
}
.btn-outline-primary:hover {
  background-color: #1c5bb5;
}
.btn-info {
  background-color: #3a7d95;
  border-color: #3a7d95;
}
.btn-info:hover {
  background-color: #2c5e70;
}
.btn-outline-info {
  border-color: #3a7d95;
  background-color: white;
  color: #3a7d95;
}
.btn-outline-info:hover {
  background-color: #2c5e70;
}
.btn-success {
  background-color: #208738;
  border-color: #208738;
}
.btn-success:hover {
  background-color: #165e27;
}
.btn-outline-success {
  border-color: #208738;
  background-color: white;
  color: #208738;
}
.btn-outline-success:hover {
  background-color: #165e27;
}
.btn-warning {
  background-color: #fee685;
  border-color: #fee685;
}
.btn-warning:hover {
  background-color: #fedc52;
}
.btn-outline-warning {
  border-color: #836901;
  background-color: white;
  color: #836901;
}
.btn-outline-warning:hover {
  background-color: #fedc52;
}
.btn-outline-light {
  border-color: #616161;
  background-color: white;
  color: #616161;
}
.btn-outline-light:hover {
  background-color: #adadad;
}
.btn-danger {
  background-color: #cd425b;
  border-color: #cd425b;
}
.btn-danger:hover {
  background-color: #ae2e45;
}
.btn-outline-danger {
  border-color: #cd425b;
  background-color: white;
  color: #cd425b;
}
.btn-outline-danger:hover {
  background-color: #ae2e45;
}
.btn-link {
  color: #345d96;
}
.btn-accent-cool {
  background-color: #86b98e;
  border-color: #86b98e;
  color: black;
}
.btn-accent-cool:hover {
  background-color: #508959;
  border-color: #508959;
  color: white;
}
.btn-accent-warm {
  background-color: #ffca56;
  border-color: #ffca56;
  color: black;
}
.btn-accent-warm:hover {
  background-color: #bc8100;
  color: white;
  border-color: #bc8100;
}
.btn-secondary-warm {
  background-color: #b0aaa6;
  border-color: #b0aaa6;
  color: black;
}
.btn-secondary-warm:hover {
  background-color: #7f7771;
  border-color: #7f7771;
  color: white;
}
/*Badges and badge pills*/
.badge-primary {
  background-color: #2672de;
}
.badge-info {
  background-color: #3a7d95;
}
.badge-success {
  background-color: #208738;
}
.badge-warning {
  background-color: #fee685;
}
.badge-danger {
  background-color: #cd425b;
}
.badge-accent-cool {
  background-color: #86b98e;
  color: black;
}
.badge-accent-warm {
  background-color: #ffca56;
  color: black;
}
.badge-secondary-warm {
  background-color: #b0aaa6;
  color: black;
}
/*ALerts*/
/*backgrounds*/
.bg-accent-cool {
  background-color: #86b98e !important;
  color: black;
}
.bg-accent-warm {
  background-color: #ffca56 !important;
  color: black;
}
.bg-secondary-warm {
  background-color: #b0aaa6 !important;
  color: black;
}
/**/
.square {
  border-radius: 0;
}
