/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #2672de !important;
}
.text-secondary {
  color: #6c757d !important;
}
.text-info {
  color: #3a7d95 !important;
}
.text-danger {
  color: #cd425b !important;
}
.text-success {
  color: #208738 !important;
}
fieldset legend {
  margin-bottom: 0 !important;
  top: unset;
  font-size: 1rem;
  text-align: left;
  position: relative;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #2672de;
  background-color: #2672de;
}
@media (max-width: 992px) {
  .custom-control {
    margin: 0.8rem;
  }
}
