/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #53719e !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
.list-group.borderless .list-group-item {
  border-color: transparent;
}
.list-group-item-primary {
  color: #30415b;
  background-color: #dee5ee;
}
.list-group-item-success {
  color: #508959;
  background-color: #ffffff;
}
.list-group-item-danger {
  color: #2b0801;
  background-color: #fb7a63;
}
.list-group-item-warning {
  color: #895e00;
  background-color: #fff2d6;
}
.list-group-item-info {
  color: #7f7771;
  background-color: #ffffff;
}
.list-group-item-light {
  color: #3f4349;
}
.list-group-item-secondary-warm {
  background-color: #b0aaa6 !important;
  color: black;
}
.list-group-item-secondary-warm-lighten-10 {
  background-color: #c8c4c1 !important;
  color: black;
}
.list-group-item-secondary-warm-lighten-20 {
  background-color: #e0dedc !important;
  color: black;
}
.list-group-item-accent-warm {
  background-color: #ffca56 !important;
  color: black;
}
.list-group-item-accent-warm-lighten-10 {
  background-color: #ffda89 !important;
  color: black;
}
.list-group-item-accent-warm-lighten-20 {
  background-color: #ffeabc !important;
  color: black;
}
.list-group-item-accent-cool {
  background-color: #86b98e !important;
  color: black;
}
.list-group-item-accent-cool-lighten-10 {
  background-color: #a6ccac !important;
  color: black;
}
.list-group-item-accent-cool-lighten-20 {
  background-color: #c7deca !important;
  color: black;
}
@media (min-width: 768px) {
  .list-group-item.bill-progress {
    border-left-color: transparent;
    border-right-color: transparent;
  }
  .list-group-item.bill-progress + li {
    border-left-color: transparent;
  }
}
