/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #2672de !important;
}
.text-secondary {
  color: #6c757d !important;
}
.text-info {
  color: #3a7d95 !important;
}
.text-danger {
  color: #cd425b !important;
}
.text-success {
  color: #208738 !important;
}
/*Badges and badge pills*/
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #2672de;
}
.badge-info {
  background-color: #3a7d95;
}
.badge-success {
  background-color: #208738;
}
.badge-warning {
  background-color: #fee685;
}
.badge-danger {
  background-color: #cd425b;
}
.badge-accent-cool {
  background-color: #86b98e;
  color: black;
}
.badge-accent-warm {
  background-color: #ffca56;
  color: black;
}
.badge-secondary-warm {
  background-color: #b0aaa6;
  color: black;
}
