/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #42597c !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
/*Alerts*/
.alert {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 3px 5px 0 rgba(62, 57, 107, 0.07), 0 2px 4px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 3px 5px 0 rgba(62, 57, 107, 0.07), 0 2px 4px 0 rgba(62, 57, 107, 0.06);
}
.alert.alert-primary {
  color: #1e293a;
  border-left: 10px solid #30415b;
  background-color: #f6f8fa;
}
.alert.alert-primary .alert-link {
  color: #0d1118;
}
.alert.alert-primary .alert-link:before {
  background-color: #0d1118;
}
.alert.alert-primary .alert-link:focus {
  outline: 2px dashed #0d1118;
}
.alert.alert-secondary {
  border-left: 10px solid #3f4349;
}
.alert.alert-secondary .alert-link {
  color: #101112;
}
.alert.alert-secondary .alert-link:before {
  background-color: #101112;
}
.alert.alert-secondary .alert-link:focus {
  outline: 2px dashed #101112;
}
.alert.alert-success {
  color: #2a492f;
  border-left: 10px solid #66a670;
  background-color: #c7deca;
}
.alert.alert-success .alert-link {
  color: #17291a;
}
.alert.alert-success .alert-link:before {
  background-color: #3d6944;
}
.alert.alert-success .alert-link:focus {
  outline: 2px dashed #3d6944;
}
.alert.alert-danger {
  color: #2b0801;
  border-left: 10px solid #5c1003;
  background-color: #fdcfc7;
}
.alert.alert-danger .alert-link {
  color: #000000;
}
.alert.alert-danger .alert-link:before {
  background-color: #000000;
}
.alert.alert-danger .alert-link:focus {
  outline: 2px dashed #000000;
}
.alert.alert-warning {
  color: #563b00;
  border-left: 10px solid #bc8100;
  background-color: #fff2d6;
}
.alert.alert-warning .alert-link {
  color: #563b00;
}
.alert.alert-warning .alert-link:before {
  background-color: #563b00;
}
.alert.alert-warning .alert-link:focus {
  outline: 2px dashed #563b00;
}
.alert.alert-info {
  color: #494441;
  border-left: 10px solid #7f7771;
  background-color: #e0dedc;
}
.alert.alert-info .alert-link {
  color: #2e2b29;
}
.alert.alert-info .alert-link:before {
  background-color: #7f7771;
}
.alert.alert-info .alert-link:focus {
  outline: 2px dashed #7f7771;
}
.alert.alert-light {
  color: #3f4349;
  border-left: 10px solid #51575f;
}
.alert.alert-light .alert-link {
  color: #51575f;
}
.alert.alert-light .alert-link:before {
  background-color: #51575f;
}
.alert.alert-light .alert-link:focus {
  outline: 2px dashed #51575f;
}
.alert.alert-dark {
  color: white;
  border-left: 10px solid #96a0aa;
  background-color: #626d78;
}
.alert.alert-dark .alert-link {
  color: white;
}
.alert.alert-dark .alert-link:before {
  background-color: white;
}
.alert.alert-dark .alert-link:focus {
  outline: 2px dashed white;
}
