/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #42597c !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
/*Badges and badge pills*/
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #42597c;
}
.badge-info {
  background-color: #b0aaa6;
  color: black;
}
.badge-success {
  background-color: #86b98e;
  color: black;
}
.badge-warning {
  background-color: #ffda89;
}
.badge-danger {
  background-color: #8E1904;
}
.badge-accent-cool {
  background-color: #86b98e;
  color: black;
}
.badge-accent-warm {
  background-color: #ffca56;
  color: black;
}
.badge-secondary-warm {
  background-color: #b0aaa6;
  color: black;
}
