/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #42597c !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
.text-primary {
  color: #42597c;
}
.text-success {
  color: #86b98e;
}
.text-danger {
  color: #8E1904;
}
.text-warning {
  color: #895e00;
}
.text-info {
  color: #b0aaa6;
}
.text-dark {
  color: #343a40;
}
