/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #2672de !important;
}
.text-secondary {
  color: #6c757d !important;
}
.text-info {
  color: #3a7d95 !important;
}
.text-danger {
  color: #cd425b !important;
}
.text-success {
  color: #208738 !important;
}
.card {
  margin-bottom: 1.875rem;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.card .card-header {
  background-color: white;
  border-bottom: none;
  border-radius: 0;
}
.card .card-footer {
  background-color: white;
  border-radius: 0;
  border-top: none;
}
.card .card-footer-border-top {
  border-top: 1px solid #e6e6e6;
}
