/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #42597c !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
/******* BUTTONS ***********/
.btn-primary {
  background-color: #42597c;
  border-color: #42597c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #30415b;
  border-color: #42597c;
}
.btn-outline-primary {
  border-color: #42597c;
  background-color: white;
  color: #42597c;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #42597c;
  border-color: #30415b;
  color: white;
}
.btn-secondary {
  background-color: #565c65;
  border-color: #565c65;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #6d7581;
}
.btn-outline-secondary {
  background-color: white;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: #565c65;
  color: white;
}
.btn-info {
  background-color: #b0aaa6;
  border-color: #b0aaa6;
  color: black;
}
.btn-info:hover {
  background-color: #98908b;
  color: black;
  border-color: #7f7771;
}
.btn-info:focus {
  background-color: #98908b;
  color: black;
  border-color: #c8c4c1;
  box-shadow: 0 0 0 0.2rem #c8c4c1;
}
.btn-outline-info {
  border-color: #b0aaa6;
  background-color: white;
  color: #645d59;
}
.btn-outline-info:hover {
  background-color: #98908b;
  border-color: #645d59;
  color: black;
}
.btn-outline-info:focus {
  background-color: #98908b;
  color: black;
  border-color: #c8c4c1;
  box-shadow: 0 0 0 0.2rem #c8c4c1;
}
.btn-success {
  background-color: #86b98e;
  border-color: #86b98e;
  color: black;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #66a670;
  color: black;
}
.btn-outline-success {
  border-color: #86b98e;
  background-color: white;
  color: #3d6944;
}
.btn-outline-success:hover,
.btn-outline-success:focus {
  background-color: #66a670;
  color: black;
}
.btn-warning {
  background-color: #ffda89;
  border-color: #ffda89;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #ffca56;
}
.btn-outline-warning {
  border-color: #895e00;
  background-color: white;
  color: #895e00;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus {
  background-color: #ffda89;
  border-color: #ffca56;
  color: black;
}
.btn-outline-warning:focus {
  border-color: #ffba23;
  box-shadow: 0 0 0 0.2rem #ffba23;
}
.btn-light:hover,
.btn-light:focus {
  background-color: #adadad;
  color: black;
}
.btn-outline-light {
  border-color: #616161;
  background-color: white;
  color: #616161;
}
.btn-outline-light:hover,
.btn-outline-light:focus {
  background-color: #adadad;
  color: black;
}
.btn-danger {
  background-color: #8E1904;
  border-color: #8E1904;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #5c1003;
  border-color: #8E1904;
  color: white;
}
.btn-outline-danger {
  border-color: #8E1904;
  background-color: white;
  color: #8E1904;
}
.btn-outline-danger:hover,
.btn-outline-danger:focus {
  background-color: #5c1003;
  border-color: #8E1904;
  color: white;
}
.btn-outline-dark {
  background-color: white;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
}
.btn-link {
  color: #345d96;
}
.favorite-toggle {
  border: none;
  background-color: transparent;
}
.favorite-toggle .fa-star {
  color: #3d4551;
}
