/******* COLORS ***********/
/*Bootstrap overrides*/
/************************/
.text-primary {
  color: #42597c !important;
}
.text-secondary {
  color: #565c65 !important;
}
.text-info {
  color: #b0aaa6 !important;
}
.text-danger {
  color: #8E1904 !important;
}
.text-success {
  color: #86b98e !important;
}
@media (max-width: 768px) {
  .pagination {
    overflow-x: auto;
  }
}
.pagination li {
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
}
.pagination li:first-child {
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.pagination li:not(:first-child):not(:last-child) {
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.pagination li:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination li:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination li:last-child {
  border: 1px solid #dee2e6;
}
.pagination li.active {
  background-color: #53719e;
  color: white;
}
.pagination li:hover {
  background-color: #53719e;
  color: white;
}
.pagination li:hover a {
  color: white;
}
